openapi: 3.0.0
info:
  title: Citibank Demo Business Inc. - Unified Open Banking Ecosystem
  description: An ecosystem of 10 interconnected business models under the Citibankdemobusinessinc brand, focused on establishing open banking as the U.S. standard.
  version: 1.0.0
servers:
  - url: https://api.citibankdemobusinessinc.com/v1
    description: Production server
  - url: http://localhost:8080/v1
    description: Local development server
security:
  - ApiKeyAuth: []
paths:
  /ecosystem/orchestration:
    get:
      summary: Orchestrates and provides an overview of all Citibankdemobusinessinc business models.
      operationId: getEcosystemOverview
      responses:
        '200':
          description: Unified ecosystem overview with links to individual business models.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Welcome to the Citibankdemobusinessinc Unified Open Banking Ecosystem."
                  businessModels:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: "Citibankdemobusinessinc.openbanking.gateway"
                        description:
                          type: string
                          example: "Secure and scalable API gateway for open banking services."
                        apiEndpoint:
                          type: string
                          example: "/v1/openbanking/gateway/status"
                  status:
                    type: string
                    example: "Operational"
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Placeholder for individual business model endpoints - these would be defined in their respective files
  # Example:
  # /openbanking/gateway/status:
  #   get:
  #     summary: Get status of the open banking gateway.
  #     operationId: getOpenBankingGatewayStatus
  #     responses:
  #       '200':
  #         description: Gateway status.
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 status:
  #                   type: string
  #                   example: "Active"
  #                 version:
  #                   type: string
  #                   example: "1.0.0"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key # Or Authorization: Bearer <token> if using JWT

  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
          description: A unique error code.
          example: "INTERNAL_ERROR"
        message:
          type: string
          description: A human-readable error message.
          example: "An unexpected error occurred."
        details:
          type: string
          description: More specific details about the error.

  responses:
    InternalServerError:
      description: An unexpected error occurred on the server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            serverError:
              value:
                code: "INTERNAL_SERVER_ERROR"
                message: "An unexpected error occurred."
                details: "Please try again later or contact support."
---